@use "variables.scss";

$shadow-md:variables.$shadow-md;
@mixin absolute-center() {
    position:absolute !important;
    top:50% !important;
    left:50% !important;
    transform:translate(-50%,-50%) !important;
}

@mixin inline {
    display:inline;
}
@mixin hidden {
    display:none;
}

@mixin default-styles {
    font-size:1.0125em;
}

