
@use "sass:color";
$rounded:0.125em;
$rounded-sm:0.05em;
$rounded-md:0.25em;
$rounded-xl:0.5em;
$shadow-md:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);